html {
    font-size: 62.5%;
    cursor: default;
}

body {
    background: black;
    margin: 0;
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precise-printing-logo img {
    width: 10rem;
    transition: filter 0.3s ease;
}

.precise-printing-logo img:hover {
    filter: brightness(80%);
}

nav {
    margin: 5em 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 3em;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    transition: filter 0.3s ease;
}

nav a:hover {
    filter: brightness(80%);
}

header h1 {
    text-transform: uppercase;
    font-size: 11.4rem;
    font-weight: bold;
    line-height: 1;
    margin-top: 6rem;
    margin-bottom: 15.1rem;
    text-align: center;
}

header h1 span {
    color: #46CDF7;
}

main h2 {
    font-size: 4.7rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

input {
    width: 44rem;
    margin-bottom: 2rem;
    height: 5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    font-weight: bold;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: black;
}

textarea {
    width: 44rem;
    margin-bottom: 2rem;
    min-width: 44rem;
    max-width: 44rem;
    max-height: 30rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    font-weight: bold; 
}

textarea::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: black;     
}

textarea:focus, input:focus {
    outline: none;
}

label {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

.file-input input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    display: block;
    position: relative;
    width: 44.5rem;
    height: 5rem;
    border-radius: 0.5rem;
    border: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    margin-bottom: 7rem;
    transition: filter 0.3s ease;
}

.file-input label:hover {
    filter:brightness(85%);
}

.file-input label img {
    width: 3rem;
}

.error-message {
    color: red;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
}

button {
    width: 30rem;
    height: 5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    background-color: #46CDF7;
    color: black;
    transition: filter 0.3s ease;
}

button:hover {
    filter:brightness(90%);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 17rem;
}

#messageContainer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-col-footer h1 {
    font-size: 4.7rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
}

.left-col-footer h1 span {
    color: #46CDF7;
}

.contact a {
    display: block;
}

.contact .phone-number {
    display: flex;
    align-items: center;
    gap: 2.1rem;
    margin-bottom: 0.7rem;
}

.phone-number span {
    color: white;
    font-size: 1.6rem;
}

.contact .email {
    display: flex;
    align-items: center;
    gap: 2.1rem;
    margin-bottom: 6.2rem;
}

.email span {
    color: white;
    font-size: 1.6rem;
}

.right-col-footer {
    display: flex;
    gap: 3.1rem;
    margin-bottom: 7rem;
}

.instagram {
    transition: filter 0.3s ease;
}

.instagram:hover {
    filter:brightness(80%);
}

.powered {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.powered-by {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: filter 0.3s ease;
}

.powered-by:hover {
    filter:brightness(80%);
}

.powered-by span {
    color: #46CDF7;
}